[user]
	email = ian.brechin@gmail.com
	name = Ian Brechin
[push]
	default = simple
[core]
	editor = vi
	excludesfile = ~/.gitignore_global
[diff]
	tool = smerge
[rebase]
	autosquash = true
[pull]
	ff = only
[init]
	defaultBranch = main
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	co = checkout
	new = checkout -b
	del = branch -d
	fix = commit -a --fixup
	puo = push -u origin
[help]
	autocorrect = prompt
[pager]
	branch = false
